/*
    Created: 18 Feb 2022
    Author : Elias Faisal
             http://github.com/eliasfaisal/
    License: CC0-1.0 license
*/
* {
    font-family: Almarai;
    font-size: 16px;
    /*     color: #fff; */
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    /* firefox */
    -moz-user-select: none;
}

/*scroll bars*/
::-webkit-scrollbar {
    border-radius: 60px;
    background-color: #00000054;
    width: 6px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff2b;
    border-radius: 60px;
}

/*end of scroll bars*/
body {
    background-color: #0f172a;
    margin: 0;
}

.bar {
    width: -webkit-fill-available;
    height: 80px;
    /* background: #177d40; */
    /* firefox */
    width: -moz-available;
}

.bar>div:nth-child(1) {
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;
    /* firefox */
    width: -moz-available;
}

.basmalla {
    background-image: url("../assets/basmalla.png");
    background-position: center;
    background-size: cover;
    width: 88px;
    height: 40px;
}

.bar>div:nth-child(2) {
    width: -webkit-fill-available;
    height: 40px;
    background-color: #0000004d;
    display: flex;
    justify-content: center;
    /* firefox */
    width: -moz-available;
}

.bar-title {
    font-size: larger;
    height: fit-content;
    width: fit-content;
    color: #fff;
    margin: auto auto auto auto;
}

.brain-icon {
    background-image: url("../icon.png");
    background-position: center;
    background-size: cover;
    width: 35px;
    height: 35px;
    margin: auto auto auto 20px;
}

/* loading widget */
#loading_widget {
    position: fixed;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: #0f172a;
    transition: 300ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    /* firefox */
    width: 100%;
    height: 100%;
}

#loading_holder {
    width: fit-content;
    height: fit-content;
    /* firefox */
    width: -moz-fit-content;
    height: -moz-fit-content;
}

#loading_holder>div {
    display: flex;
    width: -webkit-fill-available;
    /* firefox */
    width: -moz-available;
}

.loading_brain {
    background-image: url("../icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 64px;
    height: 64px;
    margin: auto;
}

#loading_holder>div:nth-child(2) {
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    color: #fff;
}

.digit {
    font-size: 18px;
    font-family: monospace;
    margin: auto 5px;
}

#msg {
    color: #fff;
    width: 240px;
    height: 30px;
    position: fixed;
    padding: 30px 50px;
    background: #fff2;
    border-radius: 5px;
    direction: rtl;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    transition: 300ms;
}
